body {
    font-family: 'Inika', serif;
    font-weight: 700;
    position: relative;
}

.h1 {
    margin: 30px 0;
    font-size: 40px;
    font-weight: 700;
    width: 602px;
    border: 1px solid blue;
}

.line {
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    border-width: 5px;
    padding-bottom: 25px;
}

.header {
    height: 110px;
    text-align: center;
    font-size: 48px;
    color: #3E45E8;
    font-weight: 400;
    padding: 15px;
}

.header-span {
    color: #E8C23E;
}

.banner {
    background-repeat: no-repeat;
    height: 803px;
    background-image: url("../img/image\ 1.png");
    background-size: cover;
    padding-top: 206px;
    box-sizing: border-box;
    padding-left: 4%;
}

.content {
    box-sizing: border-box;
    position: absolute;
    color: white;
    width: 50%;
    font-size: 38px;
    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
    padding-left: 2%;
    padding-top: 1%;
}

.main {
    padding: 0 80px;
}

.card {
    border: 1px solid black;
    width: 30%;
    color: #E8C23E;
    display: inline-block;
    border-radius: 32px;
    vertical-align: top;
    box-shadow: 0px 4px 57px 3px #00000040;
}

.card_image {
    width: 100%;
}

.card_margin {
    margin: 0 4, 5%;
}

.card_title {
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px;
    color: #1E8DF2;
}

.card_subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    box-sizing: border-box;
    padding: 10px;
}